@font-face {
    font-family: 'Legothick';
    src: local('Legothick'),
        url('Legothick.woff2') format('woff2'),
        url('Legothick.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

